# Server runtime
DATABASE_URL=
PORT=4000
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

# Auth and sessions
JWT_SECRET=

# Mailer
MAILER_USER=
MAILER_PASS=
MAILER_FROM_EMAIL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

# Transport encryption keys
ENCRYPTION_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n<public-key>\n-----END PUBLIC KEY-----\n"
ENCRYPTION_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n<private-key>\n-----END PRIVATE KEY-----\n"

# Google Cloud Storage
GCS_BUCKET_NAME=
GCS_CLIENT_EMAIL=
GCS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n<gcs-private-key>\n-----END PRIVATE KEY-----\n"
GCS_PROJECT_ID=

# OAuth apps
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITLAB_APP_ID=
GITLAB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
GITLAB_REDIRECT_URI=
GITHUB_INSTALL_REDIRECT_URI=
GITHUB_APP_SLUG=
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n<github-app-private-key>\n-----END RSA PRIVATE KEY-----"

# AWS KMS
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_ACCESS_KEY_ARN=
AWS_REGION=us-east-1
AWS_ENVX_USERS_MASTER_KEY_ID=
