<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organization Invite</title>
  </head>
  <body>
    <h1>You have been invited to join <%= organizationName %> on EnvX</h1>
    <p>
      Click the link below to accept the invitation and join the organization:
    </p>
    <a href="<%= inviteLink %>">Accept Invitation</a>
    <p>
      If you did not expect this invitation, you can safely ignore this email.
    </p>
  </body>
</html>
